* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

body {
    background-image: linear-gradient(#141414, #0f091d);
    font-family: 'Mulish', sans-serif;

}

a {
    text-decoration: none;
}

.banner {
    display: flex;
    justify-content: center;
    margin-top: 100px;


}

.photo-frame {
    width: 310px;
    position: relative;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid gray;
    object-fit: cover;
    cursor: wait;

}

.photo-frame:hover {
    border-bottom: 10px groove #333333;
    border-left: 5px solid #a8a8a8;
    border-right: 10px dashed #b0b0b0;
    border-top: 8px dotted #acacac;
}

.photo img {
    width: 100%;
}

.photo-details {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: all 3s ease;

}

.photo-details h3 {
    background-color: rgba(199, 130, 245, 0.6);
    padding: 5px 10px;
    color: #001b36;


}

.photo-details p {
    background-color: rgba(253, 65, 17, 0.2);
    padding: 5px 10px;
    color: #001b36;
    margin-bottom: 5px;

}

.photo-aulbm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.photo-frame:hover .photo-details {
    background-color: rgba(139, 119, 119, 0.4);
    display: block;
    color: lightgrey;
    text-align: center;
    transition: all 3s ease;
    padding-top: 20px;
}

.photo-frame:hover button {
    background-color: rgba(155, 141, 141, 0.4);
    color: #000000;
    text-align: center;
    justify-content: center;
    transition: all 3s ease;
    padding: 8px 12px;
    border-radius: 15px;
    box-shadow: rgb(112, 112, 112) 5px 5px 13px 5px;
    font-weight: bold;
    cursor: pointer;
}

Button:hover {
    background: #1C6EA4;
}

Button:active {
    background: #144E75;
}


.photo-container {
    text-align: center;
    font-weight: 600;

}

.The-lion {
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    position: relative;
    color: transparent;

}

.The-lion::before {
    content: "The Lion King ";
    top: 0;
    left: 0;
    position: absolute;
    color: #1fecff;
    animation: lion 3.5s linear infinite;
}

.h3-lion {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    padding: 10px;
    color: #fad3ff;
    font-family: 'Lobster', cursive;


}

.footer {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #141414;
    text-align: center;
    color: #5eebf8;
    font-family: 'Luxurious Roman', cursive;
}

.footer h3,
p {
    padding: 10px;
}

.footer p {
    color: #fad3ff;
}

@keyframes lion {
    0% {
        content: "T|";
    }

    5% {
        content: "Th|";
    }

    10% {
        content: "The|";
    }

    15% {
        content: "The |";
    }

    20% {
        content: "The L|";
    }

    25% {
        content: "The Li|";
    }

    30% {
        content: "The Lio|";
    }

    35% {
        content: "The Lion|";
    }

    40% {
        content: "The Lion |";
    }

    45% {
        content: "The Lion k|";
    }

    50% {
        content: "The Lion ki|";
    }

    55% {
        content: 'The Lion kin|';
    }

    60% {
        content: 'The Lion king|';
    }

    65%,
    85% {
        content: 'The Lion king|';
    }

    86% {
        content: 'The Lion kin|';
    }

    87% {
        content: 'The Lion ki|';
    }

    88% {
        content: 'The Lion k|';
    }

    89% {
        content: 'The Lion k|';
    }

    90% {
        content: 'The Lion |';
    }

    91% {
        content: 'The Lion|';
    }

    92% {
        content: 'The Lio|';
    }

    93% {
        content: 'The Li|';
    }

    94% {
        content: 'The L|';
    }

    95% {
        content: 'The |';
    }

    96% {
        content: 'The|';
    }

    97% {
        content: 'Th|';
    }

    98% {
        content: 'T|';
    }

    99% {
        content: '|';
    }

    100% {
        content: '|';
    }

}